@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }

  html {
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      "Segoe UI",
      Roboto,
      Inter,
      Arial,
      "Noto Sans",
      "Liberation Sans",
      sans-serif;
  }

  body {
    min-height: 100dvh;
  }
}
